/* -------- ------- ------ ----- Colors ----- ------ ------- -------- */
/* #fadcac
#158467
#197163
#065446 */

.app {
  color: white;
  max-width: 1250px;
  margin: 0 auto;
}
.logo {
  width: 2.5rem;
  margin-right: 5px;
}

.subtitle {
  background-color: #065446;
  /* line-height: 9vh; */
  padding: 0.2em;
  text-align: center;
  font-size: 2em;
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
