.main {
  margin-top: 10vh;
  margin-bottom: 33vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  color: #000;
  text-align: center;
  column-gap: 2.5em;
  row-gap: 1em;
  height: 50vh;
}
.main > div {
  background-color: #fadcac;
  border-radius: 5px;
  padding: 0.8em;
}
.description__text {
  margin-top: 1.5em;
  text-align: justify;
}
.main__container-foto {
  position: relative;
  top: 6em;
}
.main__name {
  font-size: 2.1em;
  margin-bottom: 0.5em;
}
.main__photo {
  /* position: static; */
  /* top: 9.5em; */
  border-radius: 8rem;
  max-width: 240px;
}
.stack {
  overflow: hidden;
}
.stack__technologies {
  margin: 1.5em 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 4em;
  gap: 0.8em;
}
.stack__photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    margin: 5vh auto;
    height: auto;
    column-gap: 1em;
  }
  .main__container-foto {
    grid-row: 1 / 3;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__photo {
    top: 0;
  }
  /* .main > div:nth-child(1),
  div:nth-child(3) {
    border-radius: 0;
    padding: 0.5em;
  } */
  .stack__technologies {
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5em 0;
    gap: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
    max-width: 100%;
    font-size: 20px;
    border-radius: 0;
    background-color: transparent;
    row-gap: 0.8em;
    margin: 0;
  }
  .main > div {
    padding: 0.5em;
    border-radius: 5px;
  }
  .main__container-foto {
    grid-row: 1 / 2;
  }
  .stack__technologies {
    grid-template-columns: repeat(3, 1fr);
  }
}
