.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #065446;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar__left {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.navbar__right {
  padding: 0.5rem;
}
.navbar__ul {
  display: flex;
  list-style: none;
}
.navbar__li {
  padding: 10px;
  line-height: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
}
.navbar__li:hover {
  background-color: #197163;
  color: black;
}

@media screen and (max-width: 1000px) {
  .navbar {
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .navbar__right {
    display: none;
  }
}
