* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans TC', sans-serif;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #171717;
}
body::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 1rem;
}
a {
  color: #fff;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
